.container{
    border-radius: 5px;
    background-color: rgb(122, 136, 134);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  #btn{
    cursor: pointer;
    background-color: hsl(169, 100%, 29%);
  }
  table, td, th {
  border: 1px solid rgb(116, 17, 161);
  }

  table {
  border-collapse: collapse;
  width:100%;
  position: relative; 
  }

  td {
  height: 50px;
  }

