.container{
  border-radius: 5px;
  background-color: rgb(153, 171, 168);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'Patrick Hand', cursive;
}
input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#addHabitBtn{
  cursor: pointer;
  background-color: hsl(169, 100%, 29%);
}
table, td, th {
border: 1px solid rgb(116, 17, 161);
}
table {
border-collapse: collapse;
width:100%;
position: relative;
}
td {
height: 50px;
}
#habitTable{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  font-family: 'Boogaloo', cursive;
}
#habit-table thead tr {
  background-color: #009879;
  color: #fff;
  text-align: center;
}
